<div class="search-cart-display-bookDisplay-card">
    <div class="search-cart-display-bookDisplay-card-content">
        <div hidden>{{data.id}}</div>
        <div class="search-cart-display-bookDisplay-card-content-title">
            {{data.title}}
        </div>

        <div class="search-cart-display-bookDisplay-card-content-author">
            {{data.author}}
        </div>

    </div>

    <div class="search-cart-display-bookDisplay-card-delete">
        <button> 
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</div>