/* .navbar .login-btn{
  
}*/

.login-signup-window{
  font-family: "Ruda",Roboto;
  color:white;
  
}


@keyframes rise-up {
  from{
     

      scale: 1.09;

      transform: none;
  }
  
  to{
    scale:1.09;
  }

}
.login-btn{
  cursor: pointer;


  padding: 0px;
  margin: 0px 0px 0px 0px;


  border-radius: 12px;
  border: none;

  background: transparent;
  color: rgb(182, 169, 169);

  font-size: 16px;
  font-family: "ruda";

  transition: color 0.2s;




}


.login-btn:hover{
  color: white;

  animation: rise-up 1000ms 0ms ease-in both;



}

.login-form-button{
  font-family: "Ruda";
  background-color: rebeccapurple;
}

.blur-bg-overlay{
  position: fixed;
  top: 80;
  left:0;
  width:100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;


  z-index: 120;
  
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  
  pointer-events: auto;
}



.form-popup{
  position: fixed;
  top: 50%;
  left:50%;
  max-width: 720px;
  width:100%;
  opacity: 0;
  pointer-events: none;
  background: #1b1b1b;
  background-color: rgba(30, 30, 30, 0.818);

  
  border: none;

  border-radius: 15px;

  transform: translate(-50%, -50%);

  z-index: 121;
 
}

.show-popup .form-popup {
  opacity: 1;
 
  pointer-events: auto;
  transform: translate(-50%, -40%);
  transition: transform 0.3s ease, opacity 0.1s;
}


.opacity-login-form-popop .form-popup{
  opacity: 0;
}
.opacity-login-form-popop .blur-bg-overlay{
  opacity: 0;
}

.show-popup-form{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -40%);
  transition: transform 0.3s ease, opacity 0.1s;

}


.form-popup .close-btn{
  position: absolute;
  top: 12px;
  right: 12px;
  color:#717171;
  cursor: pointer;
}

.form-popup .form-box{
  display: flex;
}

.form-box .form-details{
  max-width: 330px;
  width: 100%;
  color: #fff;
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  
}
.login .form-details{
  background: url("https://c4.wallpaperflare.com/wallpaper/839/50/541/library-cartoon-books-candles-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  
}
.signup .form-details{
  background: url("https://c4.wallpaperflare.com/wallpaper/839/50/541/library-cartoon-books-candles-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
}
.form-box h2{
  text-align: centre;
  margin-bottom: 30;
}


.form-box .form-content{
  width: 100%;
  padding: 35px;
}

form .input-field{
  height: 50px;
  width: 100%;
  margin-top: 20px; 
  position: relative;
}

form .input-field input{
  width: 100%;
  height: 100%;
  outline: none;

  padding:0 15px;

  font-size: 0.95rem;
  border-radius:5px;
  border: 1px solid #717171;

  background-color: rgba(233, 229, 229, 0.915);
  color: black

}

.input-field input:focus{
  border-color: rebeccapurple;
  
}

.input-field input:is(:focus, :valid) {
  padding: 0px 15px 0 ;

}

form .input-field label{
  position: absolute;
  top: 50%;
  color:#717171;
  pointer-events: none;
  transform: translateY(-50%);
  left: 15px; 
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label{
  color:rebeccapurple;
  font-size: 0.75rem;
  transform: translateY(-150%);

}

.form-box a {
  color:rgb(48, 177, 220);
  text-decoration: none;
}
.form-box a:hover{
  text-decoration: underline;   
}

.form-box :where(.forgot-pass, .policy-text){
  display: inline-flex;
  margin-top: 14px;
  font-size: 0.95rem;

}

form button{
  width: 100%;
  outline: navajowhite;
  outline:none;
  border:none;
  font-size: 1rem;
  font-weight: 500;
  padding:  14px 0;
  border-radius: 3px;
  margin: 25px 0;
  color: #fff;
  cursor: pointer;
  background-color: rebeccapurple;
  transition: 0.2s ease;

  font-family:"Ruda";
}

form button:hover{
  background-color: rgb(136, 68, 204);

}

.form-box .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup{
  display: flex;
}

.signup .policy-text{
  display: flex;
  align-items: center;
}

.signup .policy-text input{
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

@media (max-width: 760px){
  .form-popup{
    width: 95%;
  }
  
  .form-box .form-details{
    display: none;
  }

  .form-box .form-content{
    padding: 30px 20px;
  }

}


.popup-display-head{
 
  font-size: 29px;
  font-weight: bold;
  margin: -30px 0px 10px 0px;
}

.popup-display-content{
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}


