.window-header{
    background-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height:80px;
    width: 100%;

    border: none;
    padding: none;
    margin: none;
    

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;   
}




@keyframes rise-up {
    from{
       

        scale: 1.05;

        transform: none;
    }
    to{
        transform: none;
    }

}
.left-header{
    flex:1;
    flex-wrap:wrap;

    background-color: transparent;
    color:white;

    justify-content:center;
    align-items: center;

    padding: 15px 20px 15px 50px;
}

.nav-left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}


.mid-header{
    flex:4;
}

.right-header{
    flex:4;

  


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items:center;

    padding: 0px 0px 0px 0px;

}

.nav-right-header{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 100%;

    background-color: transparent;

    padding: 0px 0px 0px 0px;
}

.header-navigation{
    flex:1;
    
    display: flex;
    
    justify-content: center;
    
    
    


    background-color: rgba(0, 0, 0, 0.6);
    

    padding: 10px 30px 10px 30px;
    
    margin: 0px 0px 0px 0px;


    border-radius: 15px;
    

    transition: background-color 0.5s;
}




.nav-links{
   
   

    color: rgb(182, 169, 169);

    transition: color 0.2s;
    
}

.nav-links:hover{

    color: white;    
   
    animation: rise-up 1000ms 0ms ease-in both;
    
}


.lightmode-button{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;

}

.darkmode-switch-icon{
    width: 100%;
    height: 100%;
    opacity: 0;
}

