<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <!--CSS FILES-->
        <link rel="stylesheet" href="styles/dashboard-css/general.css">
        <link rel="stylesheet" href="styles/dashboard-css/header.css">
        <link rel="stylesheet" href="styles/dashboard-css/dashboard.css">

        <!--JS FILES-->

        <!--ADDITIONAL IMPORTED FONT FILES-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Julee&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Playwrite+NG+Modern:wght@100..400&family=Quintessential&family=Righteous&family=Ruda:wght@400..900&family=Tangerine:wght@400;700&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Felipa&display=swap" rel="stylesheet">

        <!--ADDITIONALLY IMPORTED ICONS FILES-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  



        <script src="/scripts/dashboard.js" defer></script>

    </head>


    <body>
         <!--WINDOW HEADER -->
        <!--It is Divided into 3 sections - the left header, the mid header (under development) , the right header-->
        <div class="window-header">
           
            <div class="left-header" >
                <nav class="nav-left-header">
                    <div class="logo">
                        <a class="nav-links" href="http://localhost:5001/home">
                            <div class="logo">
                                <img src="styles/Logo & Images/M.S.N.S.png" alt="" class="logo-image">
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="mid-header">
            </div>
            <div class="right-header">
                <nav class="nav-right-header">
                    <div class="header-navigation">
                        <a  class="nav-links" href="http://localhost:5001/search">Search</a>
                    </div>
                    <div class="header-navigation">
                        <a class="nav-links" href="http://localhost:5001/home">Home</a>
                        <!-- add functionality to access -->
                    </div>
                    
                    
                    <div class="header-navigation">
                        <div class="profile-navigation">
                            <button class="profile-btn" >&#9776; Profile</button>
                            <nav class="post-login-navigation">
                                <a href="#" class="post-login-navigation-collapsible-panel">
                                    Dashboard
                                </a>
                                <a href="http://localhost:5001/logout" class="post-login-navigation-collapsible-panel">
                                    sign-out
                                </a>
                            </nav>     
                        </div>
                    </div>                    
                </nav>
            </div>
        </div>

        <div class="dashboard-sidepanel">
            <div class="dashboard-avatar-pic">
                <!--<img src="https://yt3.googleusercontent.com/coJBIm7rugfAkdb9_cw5Lry2NDnfSYDjL5MBu_R2st_YCLsZtDxYu28h2EAJzPfY8qudaF8U=s900-c-k-c0x00ffffff-no-rj" alt="" class="dashboard-avatar-pic-image">-->
                <!--<img src="https://media.istockphoto.com/id/1553217328/vector/user-profile-outline-icon-avatar-person-sign-profile-picture-portrait-symbol-easily-editable.jpg?s=612x612&w=0&k=20&c=TuJiEhXN9_B-czZ-xmF1Z3DryhwF-C7FwrJmewrk97U=" alt="" class="dashboard-avatar-pic-image">-->
                <svg class="dashboard-avatar-pic-image" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 14.0902 3.71255 16.014 4.90798 17.5417C6.55245 15.3889 9.14627 14 12.0645 14C14.9448 14 17.5092 15.3531 19.1565 17.4583C20.313 15.9443 21 14.0524 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 21C9.84977 21 7.87565 20.2459 6.32767 18.9878C7.59352 17.1812 9.69106 16 12.0645 16C14.4084 16 16.4833 17.1521 17.7538 18.9209C16.1939 20.2191 14.1881 21 12 21Z" fill="currentColor" /></svg>
            </div>
            <div class="dashboard-avatar-username">{{username}}</div>
            <div class="dashboard-sidepanel-logout">
                <a href="http://localhost:5001/logout" class="dashboard-sidepanel-logout-anchor">Logout</a>
            </div>
        </div>

        <div class="return-book-snackbar" id="return-book-snackbar">
            <span>Book Name</span>
            &nbsp;is returned. Waiting for admin to approve return request.
        </div>

        <!--DASHBOARD-->
        <div class="dashboard">
            
            
            <div class="dashboard-details">
                <div class="user-details">
                    <p class="user-details-description-title">PROFILE</p>
                    <p class="user-details-description"><strong>Name</strong> : <span class="Display-name">{{name}}</span></p>
                    <p class="user-details-description"><strong>Email</strong> : <span class="Display-name">{{email}}</span></p>
                </div>


                <!--BOOKS ISSUED UNDER USER NAME-->

                <div class="dashboard-books-history">
                    <div class="dashboard-books-history-title">Borrowed Books</div>
                    <div class="dashboard-books-history-issued">
                        

                    </div>
                    
                </div>

                <!--PENDING ISSUE REQUESTS-->

                <div class="dashboard-pending-issue-requests">

                    <div class="dashboard-pending-issue-requests-title">
                        Pending issue Requests
                    </div>
                    <div class="dashboard-pending-issue-requests-bookList"></div>

                </div>


                <!--PENDING RETURN REQUESTS-->

                <div class="dashboard-pending-return-requests">

                    <div class="dashboard-pending-return-requests-title">
                        Pending return Requests
                    </div>

                    <div class="dashboard-pending-return-requests-bookList">

                        

                    </div>

                </div>

                


            </div>
        </div>
    </body>
    
</html>
