<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <!--CSS FILES-->
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/landing-page.css">
        <link rel="stylesheet" href="/styles/about-page.css">
        <link rel="stylesheet" href="/styles/button.css">
        <link rel="stylesheet" href="/styles/contact_page.css">
        <link rel="stylesheet" href="/styles/post-login-css/header.css">

        <!--JS FILES-->
        <script src="scripts/login.js" defer> </script>
        <script src="scripts/Displaymodes.js" defer ></script>
        <!--<script src="scripts/login-register-state.js" defer></script>-->
        <!--ADDITIONAL IMPORTED FONT FILES-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Julee&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Playwrite+NG+Modern:wght@100..400&family=Quintessential&family=Righteous&family=Ruda:wght@400..900&family=Tangerine:wght@400;700&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


        <!--ADDITIONALLY IMPORTED ICONS FILES-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  





    </head>
    
    <body>
        <!--WINDOW HEADER -->
        <!--It is Divided into 3 sections - the left header, the mid header (under development) , the right header-->
        <div class="window-header">
           
            <div class="left-header" >
                <nav class="nav-left-header">
                    <div class="logo">
                        <a class="nav-links" href="http://localhost:5001/"><img src="styles/Logo & Images/M.S.N.S.png" alt="" class="logo-image"></a>
                    </div>
                </nav>
            </div>
            <div class="mid-header">

            </div>
            <div class="right-header">
                <nav class="nav-right-header">
                    
                    <div class="header-navigation">
                        <a class="nav-links" href="#About-Page">About</a>
                    </div>
                    <div class="header-navigation">
                        <a  class="nav-links" href="#contact">Contact</a>
                    </div>
                    <div class="header-navigation">
                        <a id="headerLogin" class="login-btn" href="http://localhost:5001/welcome">Login</a></button>
                    </div>
                    
                    
                </nav>
            </div>
        </div>


        


        <!--LANDING PAGE-->

        <div class="landing-pageBG">
            <div class="landing-page">
                <div class="left">


                    <div class="word1">
                        <p class="word">Managing &nbsp; </p>
                    </div>
                    <div class="word2">                    
                        <p class="word">Shelves</p>  
                    </div>
                
                    
                </div>
               
                <div class="right">

                    <div class="word1">
                        <p class="word">Navigating &#160;</p>
                    </div>
                    <div class="word2">
                        <p class="word"> Stories</p>
                    </div>
                    
            
                </div>
            </div>    
        </div>

        <div class="spacer" style="height: 150px; margin-bottom: 0px;     background-color: rgb(16, 16, 16);"></div>

        <div class="about">

            <div id="About-Page" class="about-section-navigator"></div>

            <div class="about-title">About</div>
            
            <div class="about-page-content">
                <div class="about-project-description-left">
                    <img src="styles/Logo & Images/M.S.N.S.png" alt="" class="about-project-description-left-logo">
                </div>
                
                <div class="about-project-description-centre">
                    <div class="vertical-line-aboutPage">
    
                        <div class="circle2">
                            <div class="team-intro">
                                <p class="TeamName">The Team</p>
                            </div>
                            <div class="circle1-special"></div>
                        </div>
        
                        <div class="circle">
                            <div class="about-details-left">
                                <p class="about-name">Meda Varshith</p>
                                
                            </div>
        
                            <div class="circle1"></div>
        
                        </div>
        
                        <div class="circle">
                            <div class="about-details-right">
                                <p class="about-name">Nihar Sagar G</p>
                            </div>
                            <div class="circle1"></div>
                        </div>
        
                        <div class="circle">
                            <div class="about-details-left">
                                <p class="about-name">Saipushkar Nagaraj</p>
                            </div>
        
                            <div class="circle1"></div>
        
                        </div>
        
                        <div class="circle">
                            <div class="about-details-right">
                                <p class="about-name">Surya Prakash S</p>
                            </div>
        
                            <div class="circle1"></div>
        
                        </div>
        
        
                        <div class="vertical-line-end">
        
                        </div>
                        
                        
                    </div>
                </div>
                
    
                <div class="about-project-description-right">
                    <p class="about-project-description-right-title">SOI-2024</p>
                    <p>MSNS-Managing Shelves Navigating Stories</p>
                    <p>Access The git-hub repository here </p><br>
                    <p><a href="https://github.com/2SuryaPrakash/MSNS-SOI" target="_blank">Click Here</a></p>
                </div>
    
            </div>

            
        </div>

        <div class="spacer-contact-about"></div>


        <div class="contact-page" id="contact">
            <div class="contact-page-title">
                Contact Us
            </div>
            <div class="contact-page-details">
                <div class="card">
                    <p class="card-name">Meda Varshith</p>
                    <p class="card-description">Front-End Dev</p>
                    <div class="contact-info">
                        <div class="social-icons">
                            <a href="#" title="instagram" class="links">  
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="linkedin" class="links">
                              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="github" class="links">
                                <i class="fa fa-github" aria-hidden="true"></i>
                              </a>
                            
                          </div>
                    </div>
                    
                </div>
    
                <div class="card">
                    <p class="card-name">Saipushkar Nagaraj</p>
                    <p class="card-description">Front-End Dev</p>
                    <div class="contact-info">
                        <div class="social-icons">
                            <a href="https://www.instagram.com/saipushkar_n2112?igsh=OTh1aXc4NnBhOGU1" title="instagram" class="links">  
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/saipushkar-nagaraj-71364728a/" title="linkedin" class="links">
                              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://github.com/SP-2112" title="github" class="links">
                                <i class="fa fa-github" aria-hidden="true"></i>
                              </a>
                            
                          </div>               
                        </div>
                </div>
                <div class="card">
                    <p class="card-name">Nihar Sagar G</p>
                    <p class="card-description">Back-End Dev</p>
                    <div class="contact-info">
                        <div class="social-icons">
                            <a href="#" title="instagram" class="links">  
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="linkedin" class="links">
                              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="github" class="links">
                                <i class="fa fa-github" aria-hidden="true"></i>
                              </a>
                            
                          </div>                
                    </div>
                </div>
                <div class="card">
                    <p class="card-name">Surya Prakash S</p>
                    <p class="card-description">Back-End Dev</p>
                    <div class="contact-info">
                        <div class="social-icons">
                            <a href="#" title="instagram" class="links">  
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="linkedin" class="links">
                              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="github" class="links">
                                <i class="fa fa-github" aria-hidden="true"></i>
                              </a>
                            
                          </div>                
                    </div>
                </div>
    
            </div>
        </div>
    </body>
</html>
