.window-header{
    background-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height:80px;
    width: 100%;

    border: none;
    padding: none;
    margin: none;
    

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;   
}




@keyframes rise-up {
    from{
       

        scale: 1.05;

        transform: none;
    }
    to{
        transform: none;
    }

}
.left-header{
    flex:1;
    flex-wrap:wrap;

    background-color: transparent;
    color:white;

    justify-content:center;
    align-items: center;

    padding: 15px 20px 15px 50px;
}

.nav-left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}


.mid-header{
    flex:4;

    display: flex;
    align-items: center;
    justify-content: center;

}

.right-header{
    flex:4;

  


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items:center;

    padding: 0px 0px 0px 0px;

}

.nav-right-header{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 100%;

    background-color: transparent;

    padding: 0px 0px 0px 0px;
}

.header-navigation{
    flex:1;
    
    display: flex;
    
    justify-content: center;
    
    position: relative;

    background-color: transparent;
    

    padding: 10px 30px 10px 30px;
    
    margin: 0px 0px 0px 0px;


    border-radius: 15px;
    

    transition: background-color 0.5s;
}




.nav-links{
   
   text-wrap: nowrap;

    color: rgb(182, 169, 169);

    transition: color 0.2s;
    
}

.nav-links:hover{

    color: white;    
   
    animation: rise-up 1000ms 0ms ease-in both;
    
}


.profile-navigation{
    position: relative;
}

.profile-btn{
    cursor: pointer;


    padding: 0px;
    margin: 0px 0px 0px 0px;
  
  
    border-radius: 12px;
    border: none;
  
    background: transparent;
    color: rgb(182, 169, 169);
  
    font-size: 16px;
    font-family: "ruda";
  
    transition: color 0.2s;

}

.profile-btn:hover{
    
    color: white;    
    
    animation: rise-up 1000ms 0ms ease-in both;    
    
}


.post-login-navigation{
    
    display: none;
    position: absolute;
    left:-22px; 


    z-index: 45;
    
    background-color: rgb(16, 16, 16);
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.profile-navigation:hover .post-login-navigation{
    display: block;
}



.post-login-navigation-collapsible-panel{

    display: block;
    padding: 13px 20px 13px 20px ;

    font-family:'ruda';
    font-size: 13px;

    color: rgb(182, 169, 169);
    text-wrap: nowrap;
    
}

.post-login-navigation-collapsible-panel:hover{
    background-color: rgb(35, 35, 35);
    color: white;
}



.mid-header{
    background-color: transparent;
}

.mid-header-searchbar{

    background-color: rgb(44, 44, 44);

    color: white;

    padding: 10px 20px 10px 20px;

    width: 25vw;

    border-radius: 15px;
    border:none;
    outline: none;

    font-family: 'ruda';

    transition: 0.2s;
}

.mid-header-searchbar:focus{
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.251); 
}




.logo{
    width: 5.5vw;
    
}

.logo-image{
    width: 100%;
    height: 100%;
}





