@font-face {
    font-family: 'Ailerons';
    src: url('../font-styles/Ailerons-Typeface.otf');
}

.landing-pageBG{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 98.7vw;
    height: 97vh;


    background: rgb(2,0,36);
    background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(255,251,251,1) 62%);
    

    background: rgb(2,0,36);
    background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(116,113,133,1) 16%, rgba(255,251,251,1) 60%);

    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, rgba(255, 254, 254, 0.111) 100px), repeating-linear-gradient(rgba(198, 195, 195, 0.11), rgba(0, 0, 0, 0.19));
    background-color: rgba(195, 188, 188, 0.055);
    color: black;

    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, rgba(32, 31, 31, 0.323) 100px), repeating-linear-gradient(rgba(0, 0, 0, 0.748), rgba(0, 0, 0, 0.19));
    background-color: rgba(16, 16, 16, 0.873);
    color:rgb(177, 177, 177);   


    animation: exit-mainpage linear;
    animation-duration: 10s;
    
    animation-timeline:scroll();
    animation-range: 0% 90% ;


}


.landing-page{
    display: flex;
    flex-direction: column;
    
    justify-content:center;
    align-items: center;

    animation: enter-right 1000ms 1ms ease-out both;
    
    height: 100%;
    
    font-size: 7.4vw;


}

@keyframes exit-mainpage{
    from{
        transform: none;
    }

   
    to{
        scale:0;
        opacity: 0;
    }
}

@keyframes exit{
    from{
        transform: translatey(-20%);
    }

   
    to{
        scale:0;
        opacity: 0;
        transform: none;
    }
}



@keyframes enter-right {
    from {
        transform: translateY(-20%) ;
        opacity: 0;
    }

    to{
        opacity: 1;
        scale:1.0;
        transform: none;
         
    }
}

@keyframes appear-left {
    from{
        opacity: 1;
        scale:1;
    }  
    

    70%{
        opacity: 0;
        scale: 0;
        transform: translateX(-100%)  rotate(5deg);
    }
    to{
        opacity: 0;
        scale:0;
    }
}

@keyframes appear-right {
    from{
        opacity: 1;
        scale:1;
    }   

    

    50%{
        opacity: 0;
        scale: 0;
        transform: translateX(100%) rotate(-5deg);

    }
    to{
        opacity: 0;
        scale:0;
    }
}

.right{

    
    display: flex;
    flex-wrap: nowrap;


    font-family: 'Ailerons','quintessential','Tangerine',Ailerons,arial,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    /*padding: 50px 50px 50px 18vw;   
    margin: 5px 0px 1px 50px;*/
    margin: 50px 0px 70px 0px;
    padding: 0px 0px 0px 0px;


    animation: exit linear ;
    animation-duration: 10s;
    
    animation-timeline:scroll();
    animation-range: 0% 50% ;

    
}


.left{
    
    display: flex;
    flex-wrap: wrap;

    font-family: 'Ailerons','quintessential','Tangerine',Ailerons,arial,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    /*padding: 50px 20vw 50px 10px;   
    margin: -30px 5px 0px 50px;*/
    padding: 0px 0px 0px 0px;
    

    animation:exit linear ;
    animation-duration: 10s;
    animation-timeline: scroll();
    animation-range:0% 40%;


}

.Letter{
    display: inline;


    /*font-size: 140px;*/
    font-size: 90px;


    animation: enter-right 1000ms 0ms ease-out both;
}
.word{
    display: inline;


    /*font-size: 62px; */
    
    
    
    animation: enter-right 1000ms 0ms ease-out both;
}


.welcome-user{
    color:rgb(177, 177, 177);   
    font-family:    'Caveat','Marck Script','Quintessential';   
    font-size: 3.5vw;

    padding: 10px 0 0px 0;


    animation: enter-right 1s 700ms ease-out both;


}

.post-login-landing-page-inactive{

    background-color: transparent;

    position: absolute;
    bottom: 100px;

    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;


}

.post-login-landing-page-active{
    background-color: transparent;

    position: absolute;
    bottom: 100px;

    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    animation:exit linear ;
    animation-duration: 5s;
    animation-timeline: scroll();
    animation-range:0% 50%;
}



