body{
    margin: 80px 0 0 0;
    padding: 0px 0px 0px 0px;   
    font-family: "Ruda",Roboto,'Open Sans','Montserrat';

    background-color: rgb(16,16,16);

}

html{
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}

.lightmode{
    filter: invert(1) hue-rotate(180);
}


/*Scroll-behavior*/
html{
    scroll-behavior: smooth; 
}




/*


*/